html,body{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppns, sans-serif;
}
:root{
    --login-color: #FA5757;
    --text-color: #ffffff;
    --p-color: #A394A1;
    --button-color:#5368DF;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
}
a{
    text-decoration: none;
    color: black;
}
nav div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    font-size: 20px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;   
}
nav button{
    background-color:var(--login-color);
    color: var(--text-color);
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px; 
    border-style: none;
}
.toggler{
    display: none;
}
main> div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
main h1{
    font-size: 50px;
    width: 90%;
    margin-left: 40px ; 
    padding-top: 15px;
}
main p{
    font-size: 15px;
    color: var(--p-color);
    width: 80%;
    margin-left: 40px ;
    padding-top: 15px;
    line-height: 20px;
}
.button{
    margin-left: 40px ;
    padding-top: 15px;
}
main img{
    width: 60%;
    padding-top: 50px;
}
main .chrome{
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    padding: 12px 10px;
    border-radius: 5px;
}
#Features .header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}
#Features .chrome{
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    padding: 12px 10px;
    border-radius: 5px;
    margin-left: 130px;
}
.fox{
    margin-left: 10px;
    border: none;
    padding: 12px 10px;
    border-radius: 5px;
}
#Features .head p{
    color: var(--p-color);

}
#Features .head{
    text-align: center;
    width: 30%;
    margin: 10px auto;
    line-height: 1.5em;
}
.switch{
    display: flex;
    align-items: center;
    padding: 20px 50px;
}
.switch p{
    color: var(--p-color);
}
.switchs{
    display: none;
}
#Download > div{
    text-align: center;
}
#Download .head{
    width: 50%;
    margin: 20px auto;
}
#Download button{
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    padding: 12px 10px;
    border-radius: 5px;
}
.extension{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 30px 300px;
    width: 60%;
}
.page {
    box-shadow: 5px 5px 5px gray;
    text-align: center;
    padding: 10px 5px;
    line-height: 25px;
    width: 100%;
}
.page p{
    border-bottom: 3px dashed gray;
    margin: 10px 20px;
    padding-bottom: 10px;
}
#FAQ .head{
    text-align: center;
    width: 30%;
    margin: 30px auto;
}
.toggle{
    display: flex;
    justify-content: space-between;
    
}
.toggle i{
    font-size: 40px;
    color: var(--button-color);
    /* transform: rotate(180deg); */
}

#FAQ .questions {
    width:35%;
    /* text-align: center; */
    margin: 0px auto;
    padding: 10px 0;
    border-top: 2px solid darkblue ;
    border-bottom: 2px solid darkblue ;
}
.questions .answer{
    display: none;
}
.questions.show .answer{
    display: block;
}
.questions.arrow .ri-arrow-drop-down-line{
    transform: rotate(180deg);
    transition: 0.5s;
}
.questions .ri-arrow-drop-down-line{
    /* transform: rotate(180deg); */
    transition: 0.5s;
}

.bigger{
    /* text-align: center; */
}
.more{
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    padding: 12px 10px;
    border-radius: 5px;
    margin: 10px auto;
    display: block;
}
#email{
    text-align: center;
    background-color: var(--button-color);
    padding: 50px;
    line-height: 20px;
    color: #ffffff;
}
#email button{
    border-radius: 20px;
    padding: 10px;
    background-color: #FA5757;
}
input, button{
    border-radius: 20px;
    padding: 10px;
}
.switch p, h3{
    width: 70%;
    margin: 10px auto;
}
   
.chrome{
    margin: 10px 0 0 130px;
}
footer .logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #252B46;
}
.logo, ul{
    display: flex;
    align-items: center;
    gap: 30px ;
    color: var(--text-color);
    
}
.logo img{
    filter: invert(.3);
}
.logo a{
    color: var(--text-color);
}
.icon a{
    color: var(--text-color);
    grid-area: 10px;
}

@media screen and (max-width: 992px) {
    main h1{
        font-size: 40px;
    }
    main img{
        padding: 0;
        width: 57%;
    }
    .extension{
        margin: 20px 30px;
    }
    #Download .head{
        margin: 20px 270px;
    }
    main p{
        width: 90%;
    }
    .chrome{
        margin: 10px auto;
    }
    #Features .head{
        width: 50%;
    }
    .extension{
        width: 90%;

    }
}

@media screen and (max-width: 768px) {
    nav{
        padding: 20px 35px;
        gap: 10px;
    }
    main> div{
        padding: 15px;
    }
    main h1{
        font-size: 25px;
        width: 100%;
        margin-left: 15px;
    }
    main p{
        margin-left: 15px;
        width: 100%;
    }
    .button{
        margin-left: 15px;
        font-size: 15px;
        width: 100%;
    }
    .switch img{
        width: 150%;
    }
    .switch h3{
        margin: 10px 0 0 120px;
    }
    .switch p{
        margin: 10px 0 0 120px   
    }
    #Download .head{
        width: 60%;
        margin: 20px auto;
    }

}

@media screen and (max-width: 576px) {
    nav button{
        display: none;
    }
    .toggler{
        display: block;
    }
    .ri-close-line{
        display: none;
    }
    nav ul{
        position: fixed;
        top: -40%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        background-color: var(--button-color);
        box-shadow: 0 0 8px #333;
        width: 60%;
        text-align: center;
        padding: 20px;
        transition: 1s;
        z-index: 1;
    }
    main> div{
        flex-direction: column-reverse;
    }
    .word{
        text-align: center;
    }
    .button{
        text-align: center;
    }
    #Features .head{
        width: 70%;
    }
    #Download .head{
        width: 80%;
    }
    .extension{
        margin: 20px 15px;
        gap: 25px;
    }
    .page{
        width: 110%;
    }
    #FAQ .head{
        width: 85%;
    }
    #FAQ .questions p{
        width: 80%;
    }
    footer{
        justify-content: center;
    }
    footer .logo{
        flex-direction: column-reverse;
    }.logo ul{
        flex-direction: column;
    }

}

@media screen and (max-width: 375px) {
    main h1, main p, main .button{
        margin-left: 0;
    }
    #Features .head{
        width: 90%;
    }
    .switch{
        flex-direction: column;
    }
    .switch img{
        width: 110%;

    }
    .switch h3{
        text-align: center;
        margin: 10px;
    }
    .switch p{
        width: 100%;
        margin: 10px;
        text-align: center;
    }
    .extension{
        grid-template-columns: repeat(1 ,1fr);
        width: 80%;
    }
    #email h3{
        width: 100%;
    }

}